@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  color: #222;
  font: normal 100%/1.3 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.card {
  display: inline;
}

.card-img {
  display: block;
  width: 100%;
  width: 50px;
  margin: 0 auto;
}

.card-img img {
  margin-top: 0;
}

.cards {
  list-style-type: none;
}

.card-body h2 {
  font-weight: normal;
  font-size: 1.5rem;
}

ul {
  padding-left: 0;
  margin: .75em;
}

.card-body p {
  margin: 0;
}

@media only screen and (min-width: 25em) {

  .img {
    display: inline-block;
    margin-top: 1em;
  }

  .card-img {
    margin-bottom: 0;
  }

  .content {
    display: inline-block;
    margin-left: 4em;
    margin-top: -5em;
  }

  h2 {
    margin-bottom: 0;
    margin-top: 0;
  }

  p {
    margin-top: 0;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .card-img {
    display: block;
    width: 100%;
    width: 50px;
    margin: 0 auto;
  }

  .cards {
    display: inline-block;
    width: 32.7%;
  }

  p {
    margin: 0;
  }

  h2 {
    margin-top: 1em;
  }

  .content {
    margin-top: 0;
    display: block;
    margin-left: 0;
    margin-right: .9em;
  }

  .img {
    display: block;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .cards {
    width: 32%;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  .cards {
    width: 33%;
  }

  .img {
    display: inline-block;
    margin-top: 1em;
  }

  .content {
    display: inline-block;
    margin-left: 4em;
    margin-top: -5em;
  }

}
